<header>
  
</header>

<router-outlet></router-outlet>
<!-- <a routerLink="/" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
<a routerLink="characters" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Personajes</a>
<a routerLink="houses" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Casas</a>
<a routerLink="chronology" class="footers-btn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cronologia</a> -->

<!-- <app-footer></app-footer> -->
