.got {
  width: 1367px;
  height: 78vh;
  text-align: center;
  padding-top: 150px;
  margin: 0 auto;
  font-family: Game of Thrones;
  font-size: 176px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

.bodytest{
  background-image: url("../../../assets/iron-throne.svg");
  background-size: cover;
  overflow: hidden;
  

}
