.footers-btn {
    background-color: transparent;
    width: 330px;
    height: 44px;
    margin: 0 280px 0 0;
    font-family: Game of Thrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    top: 5em;
    
}
